.somePadding {
	margin-top: 50px;
}


.alignCenter {
	display: flex;
	align-items: center;
}

.somePadding .card {
	margin-bottom: 20px;
}

.card-subtitle {
	text-transform: capitalize;
}

.card-title {
	text-transform: capitalize;
}

option {
	text-transform: capitalize;
}

.funcButton {
	width: 100%;
}